doctype html
html

  head
    include ./head.jade
    link(href="style/main.css" rel="stylesheet")

  body

    header
      div.bg
        img(alt="" src="https://pbs.twimg.com/profile_banners/92535321/1412769299/1500x500")

      div#header-text
        div.container
          h1
            | Curiculum Vitae
          h3
            | Irene Jansen

      div.bar
        div.container
          img(src="/resources/images/irene.jpg")

    div.content.container

      div.row

        div.col-md-4
          div.sidebox
            h3 Profiel
            | Hi!

          div.sidebox
            h3 Competenties
            | Hi!

        div.col-md-8
          div.box
            h4 Educatie

            div.subbox
              div.row
                div.col-sm-9
                  h4 BA Culturele Antropologie en Ontwikkelingssociologie
                div.col-sm-3.location
                  i Leiden,
                    br
                    | 2012 - 2016

              p
                | Universiteit Leiden

            div.sep

            div.subbox
              div.row
                div.col-sm-9
                  h4 Minor Journalistiek en Nieuwe Media
                div.col-sm-3.location
                  i Leiden,
                    br
                    | 2014 - 2015

              p
                | Universiteit Leiden

            div.sep

            div.subbox
              div.row
                div.col-sm-9
                  h4 Cursus Creatief Schrijven
                div.col-sm-3.location
                  i Leiden,
                    br
                    | 2014

              p
                | LAKcursussen; o.l.v. M. Reijnders

            div.sep

            div.subbox
              div.row
                div.col-sm-9
                  h4 EH Basisjaar
                div.col-sm-3.location
                  i Amersfoort,
                    br
                    | 2011 - 2012

              p
                | Evangelische Hogeschool

            div.sep

            div.subbox
              div.row
                div.col-sm-9
                  h4 Cursus Snellezen
                div.col-sm-3.location
                  i Amersfoort,
                    br
                    | 2012

              p
                | Evangelische Hogeschool

            div.sep

            div.subbox
              div.row
                div.col-sm-9
                  h4 VWO Atheneum
                div.col-sm-3.location
                  i Uithoorn,
                    br
                    | 2005 - 2011

              p
                | Alkwin Kollege - Cultuur en Maatschappij




          div.box
            h4 Werkervaring

            div.subbox
              div.row
                div.col-sm-9
                  h4 Servicemedewerker
                div.col-sm-3.location
                  i Woerden,
                    br
                    | 2010 - heden

              p
                | Annex Cinema

            div.sep

            div.subbox
              div.row
                div.col-sm-9
                  h4 Voorlichtingsmedewerker Culturele Antropologie en Ontwikkelingssociologie
                div.col-sm-3.location
                  i Leiden,
                    br
                    | 2012 - 2013

              p
                | Universiteit Leiden

            div.sep

            div.subbox
              div.row
                div.col-sm-9
                  h4 Overig
                div.col-sm-3.location
                  i Aalsmeer,
                    br
                    | 2005 - 2010

              ul
                li Caissière; C1000
                li Kasmedewerker; New Angela
                li Krantenbezorger

          div.box
            h4 Vrijwilligerswerk

            div.subbox
              div.row
                div.col-sm-9
                  h4 Vrijwilliger hulpproject 'Hands of Hope'
                div.col-sm-3.location
                  i Woerden,
                    br
                    | 2012 - 2013

              p
                | Werkzaamheden: ...

            div.sep

            div.subbox
              div.row
                div.col-sm-9
                  h4 Redactrice en presentatrice 'Revival'
                div.col-sm-3.location
                  i Woerden,
                    br
                    | 2010 - 2012

              p
                | Zaterdagavondprogramma op RPL FM

            div.sep

            div.subbox
              div.row
                div.col-sm-9
                  h4 Redactrice en presentatrice 'Music with a Message'
                div.col-sm-3.location
                  i Aalsmeer,
                    br
                    | 2008 - 2010

              p
                | Dinsdagavondprogramma op Radio Aalsmeer

            div.sep

            div.subbox
              div.row
                div.col-sm-9
                  h4 Overig
                div.col-sm-3.location
                  i Woerden,
                    br
                    | 2012 - 2013

              ul
                li Organisatie vrouwendag
                li Adviseur organistie festival 'W-Celebrate'
                li Voorlichtingsmedewerker Evangelische Hogeschool
                li Jeugbeleid Commissie CGKV Woerden
                li Fondsenwerving Commissie Jaarboek Evangelische Hogeschool




