doctype html
html

  head
    include ./head.jade
    link(href="style/main.css" rel="stylesheet")
    script(src="http://code.jquery.com/jquery-1.11.2.min.js")

  body

    header
      div.bg
        img(alt="" src="https://pbs.twimg.com/profile_banners/92535321/1412769299/1500x500")

      div#header-text
        div.container
          h1
            | Curriculum Vitae
          h3
            | Irene Jansen

      div.bar
        div.container
          img(src="/resources/images/irene.jpg")
          a(href="mailto:irene_jansen@hotmail.nl?Subject=Sollicitatie stage" target="_top")
            button(class="btn", data-action="bea")
              b Mail mij!

    div.content.container

      div.row

        div.col-md-4
          div.box.profile
            h4 Profiel
            ul.content
              li
                i.fa.fa-home.fa-fw &nbsp&nbsp
                | Gouwestraat 10 // 2515 SN // Den Haag
              li
                i.fa.fa-phone.fa-fw &nbsp&nbsp
                | 0621184289
              li
                i.fa.fa-envelope.fa-fw &nbsp&nbsp
                | irene_jansen@hotmail.nl
              li
                i.fa.fa-birthday-cake.fa-fw &nbsp&nbsp
                | 01 maart 1993

          div.box.competenties
            h4 Competenties
            ul.content
              li flexibel + zelfstandig
              li kritisch + nieuwsgierig
              li brainstormtalent + creatief
              li organisatievermogen + doortastend
              li gepassioneerd

          div.box.vaardigheden
            h4 Vaardigheden
            ul.content
              li SPSS
                i.fa.fa-circle-thin
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
              li Social Media &nbsp
                i.fa.fa-circle-thin
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
              li Bloggen
                i.fa.fa-circle-thin
                i.fa.fa-circle-thin
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
              li HTML
                i.fa.fa-circle-thin
                i.fa.fa-circle-thin
                i.fa.fa-circle-thin
                i.fa.fa-circle
                i.fa.fa-circle
              br
              li Nederlands
                i.fa.fa-circle-thin
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
              li Engels
                i.fa.fa-circle-thin
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
              li Afrikaans
                i.fa.fa-circle-thin
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
                i.fa.fa-circle
              li Swahili
                i.fa.fa-circle-thin
                i.fa.fa-circle-thin
                i.fa.fa-circle-thin
                i.fa.fa-circle-thin
                i.fa.fa-circle

          div.box.vakken
            h4
              | Universitair afgeronde vakken
            ul.content
              li Digital Anthropology
              li Sub-Sahara Afrika
              li Veldwerk Nederland
              li Methoden en Theorieen
              li Media Worlds
              li Multivariate Analyse
              li Economie en Cultuur
              li Politieke Antropologie
              li Gender Studies
              li Religie en Moderniteit
              li Onderzoeksvoorbereiding
              li Academische Vaardigheden
              li Inleiding Statistiek
              li Ontwikkelingsproblematiek
              li Cultuur en Vergelijking
              li Inleiding Ontwikkelingssociologie
              li Sociale Theorieen
              br
              li Inleiding Journalistiek
              li Journalistieke en Redactionale Vaardigheden
              li Methoden en Theorieen van Journalism Studies
              li Internetjournalistiek



        div.col-md-8
          div.box.collapsable(data-collapsed="true")
            h4.collapsable-trigger Educatie

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="/resources/images/leiden-uni.jpg")
                    a(href="http://www.studereninleiden.nl/studies/info/culturele-antropologie-en-ontwikkelingssociologie/bacheloropleiding/" target="blank")
                      b BA Culturele Antropologie en Ontwikkelingssociologie
                div.col-xs-3.location
                  i Leiden,
                    br
                    | 2012 - 2016

              div.row
                p.col-xs-9
                  em Universiteit Leiden

              div.row.collapsable-content
                p.col-xs-9
                  br
                  | Een antropoloog bestudeert het gedrag en de cultuur van verschillende groepen mensen.
                  br
                  | Zo leer je de wereld vanuit verschillende perspectieven te bekijken.
                  br
                  | Als antropoloog wil ik mensen de andere kant van een verhaal laten zien.
                  br
                  br
                  b Veldwerkonderzoek Nederland:
                  br
                  | Een jaar lang hebben wij een veldwerkonderzoek voorbereid, uitgevoerd en gerapporteerd.
                  br
                  | Wij hebben gekeken of het mogelijk is om gemeenschapsvorming te bewerkstelligen in een Haagse multiculturele wijk door het gebruik van theater en community arts.

            div.sep

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="/resources/images/leiden-uni.jpg")
                    a(href="http://www.hum.leidenuniv.nl/praktijkstudies/jnm" target="blank")
                      b Minor Journalistiek en Nieuwe Media
                div.col-xs-3.location
                  i Leiden,
                    br
                    | 2014 - 2015

              p
                em Universiteit Leiden

            div.sep

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="/resources/images/leiden-uni.jpg")
                    a(href="http://voorzieningen.leidenuniv.nl/lakcursussen/literatuur/verhaalontwerp.html" target="blank")
                      b Cursus Creatief Schrijven
                div.col-xs-3.location
                  i Leiden,
                    br
                    | 2014

              p
                em LAKcursussen; o.l.v. M. Reijnders

            div.sep

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="/resources/images/eh.jpg")
                    a(href="http://www.eh.nl/eh-basisjaar" target="blank")
                      b EH Basisjaar
                div.col-xs-3.location
                  i Amersfoort,
                    br
                    | 2011 - 2012

              p
                em Evangelische Hogeschool

            div.sep

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="/resources/images/eh.jpg")
                    | Cursus Snellezen
                div.col-xs-3.location
                  i Amersfoort,
                    br
                    | 2012

              p
                em Evangelische Hogeschool

            div.sep

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="/resources/images/alkwin.png")
                    a(href="https://alkwin.mwp.nl/" target="blank")
                      b VWO Atheneum
                div.col-xs-3.location
                  i Uithoorn,
                    br
                    | 2005 - 2011

              p
                em Alkwin Kollege - Cultuur en Maatschappij




          div.box
            h4 Werkervaring

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="http://www.blr-bimon.nl/files/3913/7760/7681/LogoAnnexCinema.png")
                    a(href="http://annexcinema.nl/" target="blank")
                      b Servicemedewerker
                div.col-xs-3.location
                  i Woerden,
                    br
                    | 2010 - heden

              p
                em Annex Cinema

            div.sep

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="/resources/images/leiden-uni.jpg")
                    | Voorlichtingsmedewerker Culturele Antropologie en Ontwikkelingssociologie
                div.col-xs-3.location
                  i Leiden,
                    br
                    | 2012 - 2013

              p
                em Universiteit Leiden

            div.sep

            div.subbox
              div.row
                div.col-xs-9
                  h4 Overig
                div.col-xs-3.location
                  i Aalsmeer,
                    br
                    | 2005 - 2010

              ul
                li Caissière; C1000
                li Kasmedewerker; New Angela
                li Krantenbezorger

          div.box.collapsable(data-collapsed="true")
            h4.collapsable-trigger Vrijwilligerswerk

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xfa1/t31.0-8/664809_450937114953219_1842591485_o.jpg")
                    | Vrijwilliger en groepsleider hulpproject 'Hands of Hope'
                div.col-xs-3.location
                  i Woerden,
                    br
                    | 2012 - 2013

              div.row.collapsable-content
                p.col-xs-9
                  | Werkzaamheden: Bedenken en organiseren van sponsoracties. Zo heb ik enkele succesvolle restaurantavonden georganiseerd om geld op te halen.
                  br
                  br
                  | Daarnaast hebben we met het project geholpen bij de bouw van een pre-school in KwaNdebele, Zuid-Afrika. Ook hebben wij activiteiten georganiseerd voor de kinderen van het Care Centre dat er naast stond.
                  br
                  | Tevens heb ik tijdens het project een groep jongeren mogen begeleiden.

            div.sep

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="https://pbs.twimg.com/profile_images/378800000790631211/46ec13ef33227131e12701dd205cb597_400x400.jpeg")
                    a(href="http://rplfm.nl/" target="blank")
                      b Redactrice en presentatrice 'Revival'
                div.col-xs-3.location
                  i Woerden,
                    br
                    | 2010 - 2012

              div.row.collapsable-content
                p.col-xs-9
                  | Zaterdagavondprogramma op radio RPL FM

            div.sep

            div.subbox
              div.row
                div.col-xs-9
                  h4
                    img(alt="" src="http://www.pieterjanssen.eu/cms/wp-content/uploads/Logo-Radio-Aalsmeer.png")
                    a(href="http://radioaalsmeer.nl/" target="blank")
                      b Redactrice en presentatrice 'Music with a Message'
                div.col-xs-3.location
                  i Aalsmeer,
                    br
                    | 2008 - 2010

              div.row.collapsable-content
                p.col-xs-9
                  | Dinsdagavondprogramma op Radio Aalsmeer

            div.sep

            div.subbox
              div.row
                div.col-xs-9
                  h4 Overig
                div.col-xs-3.location
                  i Woerden,
                    br
                    | 2011 - 2014

              div.row.collapsable-content
                ul.col-xs-9
                  li Organisatie vrouwendag
                  li Adviseur organistie festival 'W-Celebrate'
                  li Voorlichtingsmedewerker Evangelische Hogeschool
                  li Jeugbeleid Commissie CGKV Woerden
                  li Fondsenwerving Commissie Jaarboek Evangelische Hogeschool

    // some dynamic stuff
    script.
      // collapsable containers
      $('.collapsable').each(function() {
        function toggle(el, btn) {
          content.toggle();
          btn
            .toggleClass("fa-angle-double-down")
            .toggleClass("fa-angle-double-up");
        }

        var el = $(this);
        var content = el.find('.collapsable-content');
        var trigger = el.find('.collapsable-trigger');
        var btn = $('<i class="fa fa-angle-double-up"/>');
        btn.css({ float: 'right' });

        // initial
        trigger.append(btn);
        if(el.data('collapsed')) { toggle(content, btn); }
        // on click
        trigger.on('click', function() { toggle(content, btn); });
      });
